Email regex does not allow ampersand (&) in the username

[https://github.com/plone/plone.schema/blob/master/plone/schema/email.py#L10](https://github.com/plone/plone.schema/blob/master/plone/schema/email.py#L10)

Similar to two other issues
[https://github.com/plone/plone.schema/issues/9](https://github.com/plone/plone.schema/issues/9)
[https://github.com/plone/plone.schema/issues/6](https://github.com/plone/plone.schema/issues/6)
the email regex does not allow ampersand in the username part of the email. Ampersand is valid according to Section 3.2.4 of RFC 2822.
The solution [ewohnlich](https://github.com/ewohnlich) suggest in [6](https://github.com/plone/plone.schema/issues/6) sounds right.

I have created a PR that should fix this and other issues: #40.